<launch>
    <!-- PointCloud to LaserScan Node -->
    <node name="pointcloud_to_laserscan_node" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" output="screen">
        <remap from="cloud_in" to="/points_raw"/>
        <remap from="scan" to="/scan"/>
    </node>
    
    <!-- SLAM Toolbox -->
    
    
    <!-- Load Parameters -->
    <rosparam file="$(find erf_slam)/config/bridge.yaml" command="load"/>
</launch>
